
/*返回继续邀请 样式开始*/
body{
    background-color: #3a6ea3;
}

.yi{
    /*领取一*/
    height: 1.39rem;/*高度*/
    border-bottom: 1px solid #4d91d4;/*下描边*/
    margin: 0 .3rem;/*外边距*/
}

.touxiang{
    /*头像*/
    width: .88rem;/*宽度*/
    height: .88rem;/*高度*/
    border-radius: 50%;/*圆角*/
    background-color: #0c335b;/*背景色*/
}

.name{
    /*昵称*/
    color: white;/*字体颜色*/
    font-size: .28rem;/*字体大小*/
    margin-left: .2rem;/*左边距*/
}

.jieshou{
    /*05-17接受邀请*/
    color: white;/*字体颜色*/
    font-size: .28rem;/*字体大小*/
    margin: 0 1rem 0 .90rem;/*外边距*/
}

.lq_anniu{
    /*领取按钮*/
    width: 1.40rem;/*宽度*/
    height: .64rem;/*高度*/
    color: white;/*字体颜色*/
    font-size: .3rem;/*字体大小*/
    border-radius: .1rem;/*圆角*/
    background-color: #edba1f;/*背景色*/
    border: 2px solid #51281d;/*描边*/
    box-shadow: inset 0 -4px rgba(0,0,0,.36);/*内阴影*/
}
.lq_anniu:active{
    /*点击效果*/
    transform: scale(.98);
    -webkit-transform:scale(.98);
}


.lq_anniu2{
    /*领取2 按钮*/
    width: 1.40rem;/*宽度*/
    height: .64rem;/*高度*/
    color: white;/*字体颜色*/
    font-size: .3rem;/*字体大小*/
    border-radius: .1rem;/*圆角*/
    background-color: #909090;/*背景色*/
    border: 2px solid #51281d;/*描边*/
    box-shadow: inset 0 -4px rgba(0,0,0,.36);/*内阴影*/
}
/*.lq_anniu2:active{*/
    /*/!*点击效果*!/*/
    /*transform: scale(.98);*/
    /*-webkit-transform:scale(.98);*/
/*}*/

.yilingqu{
    /*已领取 按钮*/
    width: 1.40rem;/*宽度*/
    height: .64rem;/*高度*/
    color: white;/*字体颜色*/
    font-size: .3rem;/*字体大小*/
    border-radius: .1rem;/*圆角*/
    background-color: #909090;/*背景色*/
    border: 2px solid #51281d;/*描边*/
    box-shadow: inset 0 -4px rgba(0,0,0,.36);/*内阴影*/
}
/*.yilingqu:active{*/
    /*/!*点击效果*!/*/
    /*transform: scale(.98);*/
    /*-webkit-transform:scale(.98);*/
/*}*/



.anniu>button{
    width: 88%;/*宽*/
    height: 1.2rem;/*高*/
    background: url("../image/anniu.png") no-repeat;/*按钮底层*/
    background-size: 100% 100%;/*按钮大小*/
    border: none;/*取消边框*/
    margin-top: 6.19rem;/*下边距*/
}
.anniu:active{
    /*按钮 点击状态（缩放）*/
    transform: scale(.98);
    -webkit-transform: scale(.98);
}
.ljyq{
    /*立即邀请 字体*/
    color: white;/*字体颜色*/
    font-size: .4rem;/*字体大小*/
}
/*返回继续邀请 样式结束*/




/*成功弹窗 样式开始*/
.mohu{
    /*模糊层*/
    width: 100vw;/*宽度*/
    background-color: rgba(0,0,0,.66);/*透明色*/
    position: fixed;/*浮动定位*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cgtc_dic{
    /*领取成功_底层*/
    width: 6.19rem;/*宽度*/
    height: 3.57rem;/*高度*/
    background-color: #ece9e8;/*背景色*/
    position: fixed;/*浮动定位*/
    top: 2.90rem;/*上边距*/
    left: .65rem;/*左边距*/
}

.lq{
    /*领取成功 高度*/
    height: 1.32rem;/*高度*/
}
.lq>span{
    /*领取成功 字体*/
    color: #313131;/*字体颜色*/
    font-size: .36rem;/*字体大小*/
}

.rz{
    /*流量即将入账 高度*/
    height: 1.25rem;/*高度*/
    font-size: 0rem;
    flex-wrap: wrap;/*换行*/
    display: block;/*块级*/
    text-align: center;/*水平居中*/
}
.rz>span{
    /*流量即将入账 字体*/
    color: #313131;/*字体颜色*/
    font-size: .32rem;/*字体大小*/
}
.rz>p{
    /*将在48小时内短信通知*/
    color: #707070;/*字体颜色*/
    font-size: .28rem;/*字体大小*/
    margin-top: .2rem;/*上边距*/
}

.ok{
    /*确定 底层*/
    height: 1rem;/*高度*/
    background-color: #3a6ea3;/*背景色*/
}
.ok>span{
    /*确定 字体*/
    color: white;/*字体颜色*/
    font-size: .34rem;/*字体大小*/
}
/*成功弹窗 样式结束*/







/*领取失败弹窗 样式开始*/
.mohu{
    /*模糊层*/
    width: 100vw;/*宽度*/
    background-color: rgba(0,0,0,.66);/*透明色*/
    position: fixed;/*浮动定位*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cgtc_dic{
    /*领取成功_底层*/
    width: 6.19rem;/*宽度*/
    height: 3.57rem;/*高度*/
    background-color: #ece9e8;/*背景色*/
    position: fixed;/*浮动定位*/
    top: 2.90rem;/*上边距*/
    left: .65rem;/*左边距*/
}

.lq{
    /*领取成功 高度*/
    height: 1.32rem;/*高度*/
}
.lq>span{
    /*领取成功 字体*/
    color: #313131;/*字体颜色*/
    font-size: .36rem;/*字体大小*/
}

.rz{
    /*流量即将入账 高度*/
    height: 1.25rem;/*高度*/
    font-size: 0rem;
    flex-wrap: wrap;/*换行*/
    display: block;/*块级*/
    text-align: center;/*水平居中*/
}
.rz>span{
    /*流量即将入账 字体*/
    color: #313131;/*字体颜色*/
    font-size: .32rem;/*字体大小*/
}
.rz>p{
    /*将在48小时内短信通知*/
    color: #707070;/*字体颜色*/
    font-size: .28rem;/*字体大小*/
    margin-top: .2rem;/*上边距*/
}

.ok{
    /*确定 底层*/
    height: 1rem;/*高度*/
    background-color: #3a6ea3;/*背景色*/
}
.ok>span{
    /*确定 字体*/
    color: white;/*字体颜色*/
    font-size: .34rem;/*字体大小*/
}
/*领取失败弹窗 样式结束*/


















