
/*领取失败 样式开始*/
body{
    background-color: #3a6ea3;/*背景色*/
}

.manle{
    /*领取失败信封底层..头部*/
    width: 100vw;/*宽度*/
}

.geyuedic{
    /*2GX6个月省内流量 底层*/
    width: 4.29rem;/*宽度*/
    position: fixed;/*浮动定位*/
    top: .44rem;/*上边距*/
    left: 1.58rem;/*左边距*/
}

.geyueziti{
    /*2GX6个月省内流量 字体*/
    width: 3.07rem;/*宽度*/
    position: fixed;/*浮动定位*/
    top: .90rem;/*上边距离*/
    left: 2.22rem;/*左边距离*/
}


.sanniu{
    margin-top: 4.5rem;/*上边距*/
}

.sanniu>button{
    width: 88%;/*宽*/
    height: 1.2rem;/*高*/
    background: url("../image/anniu.png") no-repeat;/*按钮底层*/
    background-size: 100% 100%;/*按钮大小*/
    border: none;/*取消边框*/
}

.sanniu:active{
    /*按钮 点击状态（缩放）*/
    transform: scale(.98);
    -webkit-transform: scale(.98);
}
.ljyq {
    /*立即更换4G套餐 字体*/
    color: white; /*字体颜色*/
    font-size: .4rem; /*字体大小*/
}
/*领取失败 样式结束*/





/*领取失败弹窗 样式开始*/
.mohu{
    /*模糊层*/
    width: 100vw;/*宽度*/
    background-color: rgba(0,0,0,.66);/*透明色*/
    position: fixed;/*浮动定位*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cgtc_dic{
    /*领取成功_底层*/
    width: 6.19rem;/*宽度*/
    height: 3.57rem;/*高度*/
    background-color: #ece9e8;/*背景色*/
    position: fixed;/*浮动定位*/
    top: 2.90rem;/*上边距*/
    left: .65rem;/*左边距*/
}

.lq{
    /*领取成功 高度*/
    height: 1.32rem;/*高度*/
}
.lq>span{
    /*领取成功 字体*/
    color: #313131;/*字体颜色*/
    font-size: .36rem;/*字体大小*/
}

.rz{
    /*流量即将入账 高度*/
    height: 1.25rem;/*高度*/
    font-size: 0rem;
    flex-wrap: wrap;/*换行*/
    display: block;/*块级*/
    text-align: center;/*水平居中*/
}
.rz>span{
    /*流量即将入账 字体*/
    color: #313131;/*字体颜色*/
    font-size: .32rem;/*字体大小*/
}
.rz>p{
    /*将在48小时内短信通知*/
    color: #707070;/*字体颜色*/
    font-size: .28rem;/*字体大小*/
    margin-top: .2rem;/*上边距*/
}

.ok{
    /*确定 底层*/
    height: 1rem;/*高度*/
    background-color: #3a6ea3;/*背景色*/
}
.ok>span{
    /*确定 字体*/
    color: white;/*字体颜色*/
    font-size: .34rem;/*字体大小*/
}

#chenggong{
    /*领取成功 隐藏*/
    display: none;
}
/*领取失败弹窗 样式结束*/

























