
/*登陆后 发送邀请 样式开始*/
body{
    background-color: #3a6ea3;/*背景色*/
}

.er_toubu{
    /*头部背景*/
    width: 100vw;/*宽*/
    display: block;/*块级*/
}

#form{
    /*发起登陆*/
    margin: 0rem .49rem 0 .55rem;
}

#denglu{
    /*登陆后，发起邀请*/
    margin: 1rem 1rem 0rem 1.8rem;
    color: white;/*字体颜色*/
    font-size: .46rem;/*字体大小*/
}

#phone{
    /*请输入11位福建移动号码*/
    width:100%;/*宽度*/
    height: .88rem;/*高度*/
    font-size: .3rem;/*字体大小*/
    padding-left: .34rem;/*内边距*/
    margin-bottom: .2rem;/*下边距*/
}

#ma{
    /*请输入验证码*/
    width: 4.43rem;/*宽度*/
    height: .88rem;/*高度*/
    font-size: .30rem;/*字体大小*/
    padding-left: .34rem;/*内边距*/
}

#btn{
    /*获取验证码*/
    width: 1.97rem;
    height: .88rem;/*高度*/
    color: white;/*字体颜色*/
    font-size: .30rem;/*字体大小*/
    padding: 0 .22rem 0 .24rem;/*内边距*/
    background-color: #ffcc3b;/*背景颜色*/
    margin-left: .02rem;/*左边距离*/
}
#btn:active{
    /*按钮 点击状态（缩放）*/
    transform: scale(.98);
    -webkit-transform: scale(.98);
}
#btn:disabled{
    background-color: #999999;/*验证码禁止点击*/
}


.anniu22>button{
    width: 88%;/*宽*/
    height: 1.2rem;/*高*/
    background: url("../image/anniu.png") no-repeat;/*按钮底层*/
    background-size: 100% 100%;/*按钮大小*/
    border: none;/*取消边框*/
    margin-top: .78rem;
}
.anniu22:active{
    /*按钮 点击状态（缩放）*/
    transform: scale(.98);
    -webkit-transform: scale(.98);
}

.anniu22>button:disabled{
    /*禁止按钮点击事件*/
    width: 88%;/*宽*/
    height: 1.2rem;/*高*/
    background: url("../image/hui_anniu.png") no-repeat;/*按钮底层*/
    background-size: 100% 100%;/*按钮大小*/
    border: none;/*取消边框*/
}


.ljyq2{
    /*立即邀请 字体*/
    color: white;/*字体颜色*/
    font-size: .4rem;/*字体大小*/
}
/*登陆后 发送邀请 样式结束*/